#about{
    font-family: "Nanum Pen Script", cursive;
    display: grid;
    grid-template-columns: minmax(200px,600px) minmax(100px,400px);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#about p {
    font-size: 20px;
    padding: 70px;
}
.about-grid-content{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile-picture{
    width: 300px;
    border-radius: 20px;
}
#skill{
    display: grid;
    grid-template-columns: minmax(100px,400px) minmax(100px,400px);
    grid-template-rows: 1fr;
    margin-left: 150px;
    margin-right: 150px;
}
.skill-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid;
}
.skill-icons img{
    width: 30px;
}



@media (max-width: 1000px){
    #about{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0px;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    #about p {
        font-size: 16px;
        margin-top: -40px;
    }
    .profile-picture{
        width: 200px;
        margin-top: -50px;
    }
    .about-grid-content{
        text-align: center;
        
    }
}