#contact{
    text-align: center;
    margin-top: 40px;
    font-family: "Nanum Pen Script", cursive;
}
.contact-grid{
    display: grid;
    grid-template-columns: minmax(200px,600px) minmax(200px,600px);
    grid-template-rows: 1fr;
}
.info-section{
    padding-left: 70px;
    padding-right: 50px;
    text-align: left;
}
.info-section h3{
    font-family: "Jersey 20", sans-serif;
    font-size: 40px;
}
.info-section p{
    font-size: 20px;
}
.links{
    display: flex;
    flex-direction: column;
}
.link{
    font-size: 18px;
    display: inline;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 4px;
    transition: transform 0.3s ease;
}
.link:hover{
    text-decoration: underline;
    transform: scale(1.01);
}
.info-section> div> div >a> img{
    width: 50px;
    transition: transform 0.3s ease;
}
.info-section> div> div >a> img:hover{
    text-decoration: underline;
    transform: scale(1.10);
}
.info-section> div>a{
    width: 130px;
}
.contact-form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.contact-box{
    width: 350px;
}
.contact-title{
    font-size: 30px;
    margin-bottom: -1px;
}
.contact-box input{
    margin: 10px 0px;
    height: 30px;
    width: 300px;
    border: solid 1px rgb(115, 115, 115);
    border-radius: 4px;
    background-color: #eae9e9;
    font-family: "Nanum Pen Script", cursive;
    font-size: 16px;
}
.contact-box textarea{
    margin: 10px 0px;
    height: 200px;
    width: 300px;
    border: solid 1px rgb(115, 115, 115);
    border-radius: 4px;
    background-color: #eae9e9;
    font-family: "Nanum Pen Script", cursive;
    font-size: 16px;
}
.contact-box button{
    width: 300px;
    height: 30px;
    border: solid 1px rgb(115, 115, 115);
    border-radius: 4px;
    background-color: #eae9e9;
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
    transition: background-color 0.3s;
}
.contact-box button:hover{
    background-color: black;
    color: #eae9e9;
}

@media (max-width: 1000px){
    .contact-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.7fr;
    }
}