#contact{
    text-align: center;
    margin-top: 40px;
    font-family: "Nanum Pen Script", cursive;
    display: flex;
    justify-content: center;
}
.contact-grid{
    display: grid;
    grid-template-columns: minmax(200px,600px) minmax(200px,600px);
    grid-template-rows: 1fr;
    padding: 5px;
}
.info-section{
    padding-left: 70px;
    padding-right: 50px;
    text-align: left;
    border-right: solid 1px rgb(170, 170, 170);
}
.info-section h3{
    font-family: "Jersey 20", sans-serif;
    font-size: 40px;
}
.info-section p{
    font-size: 20px;
}
.links{
    display: flex;
    flex-direction: column;
}
.link{
    font-size: 18px;
    display: inline;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 4px;
    transition: transform 0.3s ease;
}
.link:hover{
    text-decoration: underline;
    transform: scale(1.01);
}
.info-section> div> div >a> img{
    width: 50px;
    transition: transform 0.3s ease;
}
.info-section> div> div >a> img:hover{
    text-decoration: underline;
    transform: scale(1.10);
}
.info-section> div>a{
    width: 130px;
}
.contact-form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: solid 1px rgb(200, 200, 200);
    border-left: solid 1px rgb(186, 186, 186);
}
.contact-box{
    width: 350px;
}
.contact-title{
    font-size: 30px;
    margin-bottom: -1px;
}
.contact-box input{
    margin: 10px 0px;
    height: 30px;
    width: 300px;
    border: solid 1px rgb(115, 115, 115);
    border-radius: 4px;
    background-color: #eae9e9;
    font-family: "Nanum Pen Script", cursive;
    font-size: 16px;
    box-shadow: 1px 1px 4px 2px rgb(178, 178, 178);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-box textarea{
    margin: 10px 0px;
    height: 200px;
    width: 300px;
    border: solid 1px rgb(115, 115, 115);
    border-radius: 4px;
    background-color: #eae9e9;
    font-family: "Nanum Pen Script", cursive;
    font-size: 16px;
    box-shadow: 1px 1px 4px 2px rgb(178, 178, 178);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-box textarea:hover,.contact-box input:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.contact-box button{
    width: 300px;
    height: 30px;
    border: solid 1px rgb(115, 115, 115);
    border-radius: 4px;
    background-color: #eae9e9;
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 4px 2px rgb(178, 178, 178);
}
.contact-box button:hover{
    background-color: black;
    color: #eae9e9;
}
.lottie{
    align-self: center;
}

@media (max-width: 1000px){
    .contact-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.7fr;
        gap: 0px;
    }
    .contact-form-section{
        margin-top: -12px;
        border-left:none;
        border-top:solid 1px rgb(189, 189, 189);
    }
    .info-section h3{
        font-family: "Jersey 20", sans-serif;
        font-size: 27px;
    }
    .info-section p{
        font-size: 16px;
    }
    .link{
        font-size: 16px;
    }
    .info-section> div> div >a> img{
        width: 40px;
    }
    .contact-title{
        font-size: 25px;
    }
    .contact-box textarea,.contact-box input,.contact-box button{
        width: 250px;
    }
}