.card-section{
    margin-top: 30px;
    font-family: "Nanum Pen Script", cursive;
}
.cards{
    max-width: 1300px;
    border-top: solid rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.card-div{
    border: solid 1px;
    width: 300px;
    min-height: 200px;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-div:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.topic{
    font-family: "Jersey 10", sans-serif;
    font-size: 25px;
}
.view-button{
    background-color: rgb(217, 217, 217);
    border: solid 1px;
    border-radius: 5px;
    height: 25px;
    width: 50px;
}


@media (max-width: 100px){
    .card-div{
        border: solid;
        width: 300px;
        min-height: 200px;
        border-radius: 30px;
        padding: 10px;
        font-size: 20px;
    }
}
